@font-face {
    font-family:mifuente ;
    src: url(../fonts/TiroGurmukhi-Italic.ttf);
}

header{text-align: center;}

body {background-image: url(../img/fondoflor.jpg);
}

img {width: 250px;
border-radius: 30%;}

.sobremi {color: #f7df6b;
font-family:'Times New Roman', Times, serif;
font-weight: bolder;
text-align:right;
height: 90px;}

h1 {text-align: center;
text-transform: uppercase;
font-family: mifuente;
font-weight: 700;
font-size: 35;
line-height: 29.64px;
color: #f7df6b;}

h2 { text-align: center;
    text-transform: uppercase;
    font-family: mifuente;
    font-weight: bold;
    font-size: 25px;
    line-height: 16.94px;
    color: #042d3d;}

.datos {font-style: italic;
font-weight: bold;
text-align: left;
font-size: 20px;}

p{font-size: 18px;}

.academica{font-style: normal;
    font-weight: bold;
    text-align: left;
    font-size: 20px;}

li {font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 18px;
    Line-height: 18px;}

.laboral{font-style:normal;
    font-weight: bold;
    text-align: left;
    font-size: 20px;}    

footer{background-color: #005677;
text-align: center;
color: #ffffff;
}

.curriculum {text-align: center;
font-size: 20px;
color: #f7df6b;
font-weight: bold;
font-family: 'Times New Roman', Times, serif;}

.guatape img {text-align: center;
width: 800px ;
border-radius: 30%;}

.descripcion{text-align: justify;
font-family: 'Times New Roman', Times, serif;}

